*.o
*.swp
*tmp*
sample?.dat
*Untitled*
.DS_Store
genulens
!src/genulens/
!src/genulens/**
pre_gapmoe/calc_rho_profile
pre_gapmoe/calc_mass_dist
pre_gapmoe/calc_murel_dist
.ipynb_checkpoints/
__pycache__/
*.pyc
build/
backup/
nunulog
nunolog
.note/
.gaplan/
gapmoe_src/
scripts/
input_files/source_photometry/basti/raw/
input_files/source_photometry/mist/v2.5/raw/
input_files/source_photometry/parsec_cmd/metallicity_grid/raw/grid/
